*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #dfddddee;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #dfddddee;
    padding: 16px;
    box-shadow: 0px 2px 2px 2px rgb(141, 140, 140);
}
nav .logo{
    margin-left: 22px;
    font-size: 24px;
}
ul{
margin-top: 7px;
    margin-right: 45px;
}
nav ul li{
    list-style: none;
}
ul li a{
    margin-inline: 22px;
    font-size: 20px;
}
ul li i{
    font-size: 22px;
}
ul li #home{
    color: rgb(29, 161, 161);
}
ul li a:hover{
    border-bottom: 2px solid rgb(49, 177, 177);
    cursor: pointer;
}
ul li i:hover{
   color: rgb(139, 129, 129);
    cursor: pointer;
}
.main{
    display: flex;
   justify-content: space-around;
   margin-top: 120px;
}
.main .mainText{
    margin-top: 100px;
    margin-left: 60px;
}
.mainText h1{
    font-size: 58px;

   
}
.mainText .top{
    color: rgb(49, 163, 163);
}
.mainText button{
    width: 145px;
    height: 38px;
    background-color: rgb(46, 155, 155);
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 20px;
}
.mainText button:hover{
    border: 3px solid rgb(28, 160, 160);
    background-color: transparent;
    color: rgb(28, 160, 160);
}
.main img{
    
    margin-left: 150px;
}

.head h1{
    text-align: center;
    padding: 33px;
    margin-top: 50px;
}
.head span{
    color: rgb(40, 185, 185);
}
.card{
    display: flex;
    justify-content: center;
}
.card .crd{
    width: 300px;
    height: 520px;
    background-color: white;
    margin-inline: 11px;
    padding: 20px;
}
.crd img{
    width: 85%;
    padding: 22px;
    border-radius: 31px;
    
}
.crdText{
    margin-left: 21px;
    padding: 8px;
    
}
.crdText .h2{
    font-size: 32px;
  
}
.crdText button{
width: 110px;
height: 33px;
border: none;
background-color: rgb(54, 185, 185);
color: white;
font-size: 18px;
margin-top: 5px;
} 

.crdText i{
    color: rgb(221, 149, 14);
}
.blog{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: white;
    margin-inline: 22px;
    border-radius: 11px;
    
}
.blog:hover{
    transition: 0.6s ease;
    width: 520px;
    height: 320px;
}
.blog img{
    padding: 22px;
    width: 85%;
}
.blogText{
    padding: 12px;
    margin-top: 33px;
}
.blogText a{
width: 120px;
padding: 4px;
height: 18px;
background-color: rgb(37, 170, 170);
color: white;
font-size: 18px;
border-radius: 5px;
position: relative;
top: 22px;
}
.letter{
    display: flex;
    justify-content: space-between;
    background-color: rgb(17, 17, 95);
    color: white;
    padding: 43px;

}
.inp{
    display: flex;
}
.inp input{
    width: 300px;
    height: 34px;
    outline: none;
    font-size: 18px;
    border: none;
}
.inp button{
    width: 100px;
    height: 34px;
    background-color: rgb(85, 179, 179);
    color: white;
    border: none;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
padding: 53px;
}
.footer .footerText{
    margin-inline: 85px;
}
.footerText p{
    margin-top:11px ;
}

/*about*/
.about{
    display: none;
}
.aboutus{
    background-color: rgb(6, 6, 68);
    color: white;
    padding: 66px;
    font-size: 19px;
}
.me{
    display: flex;
    justify-content: center;
    width: 700px;
    background-color: white;
    padding: 33px;
    margin-left: 20%;
    margin-top: 5%;
}
.me img{
    width: 54%;
}
.me .aboutText{
    margin-top: 5%;
}
/*contact*/
.contact{
    display: none;
}
.contactus{
    background-color: rgb(10, 10, 66);
    color: white;
    padding: 56px;
    font-size: 19px;
}
.contactme{
    display: flex;
    justify-content: center;
    width: 1100px;
    margin-top: 5%;
    padding: 22px;
    background-color: #fff;
    margin-left: 9%;
}

.contactme img{
    width: 56%;
}

.contactText{
    padding: 22px;
    width: 600px;
}
.contactText p{
    margin-top: 20px;
}
.form{
    text-align: center;
    margin-top: 4%;
    padding: 22px;
}
.form input{
    width: 350px;
    height: 25px;
    padding: 5px;
    margin-top: 11px;
}
.form button{
    width: 350px;
    height: 36px;
    background-color: rgb(11, 71, 71);
    color: white;
    font-size: 22px;
    border: none;
    margin-top: 22px;
}
/*cart*/
.cart{
    display: flex;
    justify-content: center;
    display: none;
}
.cartText{
    padding: 22px;
    margin-top: 22px;
}
.cartText p{
    margin-top: 12px;

}
.cartText h2{
    margin-top: 11px;
}
.cartText .btn button{
    width: 140px;
    height: 40px;
    background-color: orangered;
    color: white;
    border: none;
    font-size: 22px;
    margin-inline: 11px;
    margin-top: 22px;
}
.cartText .back{
    width: 140px;
    height: 40px;
    background-color:rgb(15, 95, 95);
    color: white;
    border: none;
    font-size: 22px;
    margin-inline: 11px;
    margin-top: 22px;
}